# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist
/static

# local DB
/data

/admin_scripts/imports_files
/admin_scripts/logs

# misc
.DS_Store
.env
.env.local
.env.development
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

jsconfig.json